In [38]:
# 1.Write a program that prints a sentence with a newline character in the middle, resulting in two lines of output.
print ('my name is yogesh kumar pareek\ni am learning python')

my name is yogesh kumar pareek
i am learning python

In [39]:
# 2.Write a program that asks the user for their name and prints a welcome message with their name properly formatted and surrounded by double quotes.
your_name = input('Enter your name')
print (f' \"welcome , {your_name} \" ')

 "welcome ,  "

In [40]:
#3.Write a program that prints the following pattern using escape sequences:
# *****
# *   *
# *   *
# *   *
# *****
print ('****\n*  *\n*  *\n*  *\n****')

****
*  *
*  *
*  *
****

In [41]:
# 4. Write a program that prints a backslash () followed by a double quote (") character.
print ("\\\" ")

\"

In [42]:
# 5.Write a program that prints the following pyramid pattern using escape sequences:
print ('    *    \n   ***   \n  *****  \n ******* \n*********')

    *
   ***
  *****
 *******
*********

In [43]:
# 6. Write a program that asks the user for their favorite quote and prints it with proper formatting, including double quotes around the quote and a newline character at the end.
quote = input('Enter your favorite quote:')
formatted_quote = f'{quote}'
print (quote+'yogesh kumar pareek'+quote)

yogesh kumar pareek

In [44]:
# 7. Write a program that prints a table of ASCII characters from code 65 to 90, with each character and its corresponding code on a new line.
for i in range(65,91):
    print (chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [45]:
# 8. Write a program that asks the user for their address and prints it in the following format:
# Address:
# Line 1: [user-provided address line 1]
# Line 2: [user-provided address line 2]
# Line 3: [user-provided address line 3]
add1 = input('user-provided address line 1')
print ('Adress')
print (f'Line 1: {add1.upper()}')
add2 = input('user-provided address line 2')
print (f'Line 2: {add2.upper()}')
add3 = input('user-provided address line 3')
print (f'Line 3: {add3.upper()}')

Adress
Line 1: VILLAGE - DEOLI KHURD , POST GANAGWA
Line 2: TAH PARBATSAR
Line 3: DIST. NAGAUR  (RAJ)

In [46]:
# 9.write escape sequence example :
print("This is a\nmultiline\nstring.")
print("This is a\ttabbed\tstring.")
print("This is a backslash: \\")
print('This is a single-quoted string with a single quote: \'')
print("This is a double-quoted string with a double quote: \"")

This is a
multiline
string.
This is a	tabbed	string.
This is a backslash: \
This is a single-quoted string with a single quote: '
This is a double-quoted string with a double quote: "

In [49]:
# 10.print a name with tabbed.
print ('name : yogesh kumar\tpareek')

name : yogesh kumar	pareek