In [1]:
def hello (*args,**kwargs):
    print (args)
    print (kwargs)

hello('krish','naik',age=32,dob = 1989)

('krish', 'naik')
{'age': 32, 'dob': 1989}

In [3]:
def hello (*args,**kwargs):
    print (args)
    print (kwargs)

#hello('krish','naik',age=32,dob = 1989)
list_1 = (('krish','naik'))
dict_1 = {'age':32,'dob':1989}
hello (list_1,dict_1)

(('krish', 'naik'), {'age': 32, 'dob': 1989})
{}

In [4]:
def hello (*args,**kwargs):
    print (args)
    print (kwargs)

#hello('krish','naik',age=32,dob = 1989)
list_1 = (('krish','naik'))
dict_1 = {'age':32,'dob':1989}
hello (*list_1,**dict_1)

('krish', 'naik')
{'age': 32, 'dob': 1989}

In [6]:
def hello (*args,**kwargs):
    print (args)
    print (kwargs)

hello('krish','naik','10','11',age=32,dob = 1989)
#

('krish', 'naik', '10', '11')
{'age': 32, 'dob': 1989}

# 1. Write a function that takes two positional arguments, 'a' and 'b', and returns their sum.

In [10]:
def sum(a,b):
    return a+b
sum = sum(10,20)
print(sum)

30

# 2. Create a function that accepts three positional arguments: name, age, and city. Print out a sentence that combines these arguments.

In [11]:
def print_person_info(name,age,city):
    print (f'{name} is {age} years old and lives in {city}')
print_person_info('yogesh',26,'jaipur')

yogesh is 26 years old and lives in jaipur

# 3. Define a function that has a positional argument radius and a keyword argument pi with a default value of 3.14. The function should calculate and return the area of a circle using the formula pi * radius**2.

In [22]:
def circle_area(radius,pi=3.14):
    print (pi*(radius**2))
circle_area(5)

78.5

# 4. Write a function that accepts two positional arguments, base and exponent, and calculates and returns base raised to the power of exponent.

In [25]:
def calculation(base,exponent):
    print (base**exponent)
calculation(5,3)

125

# 5.Create a function that takes a keyword argument message with a default value of "Hello, world!". The function should print the value of message.

In [27]:
def name_with_hello(name):
    print (f'hello, world! {name}')
name = 'yogesh pareek'
name_with_hello(name)
#or
def name_with_hello(name='yogesh pareek'):
    print (f'hello, world! {name}')
name_with_hello(name)

hello, world! yogesh pareek
hello, world! yogesh pareek

# 6. Define a function that accepts a positional argument string and a keyword argument separator with a default value of "-". The function should split string using separator and return the resulting list.

In [53]:
def split_str (name,separator="-"):
    return name.split(separator)
split_str=split_str('yogesh-pareek')
print (split_str)

['yogesh', 'pareek']

# 7. Write a function that takes two positional arguments, a and b, and a keyword argument operator with a default value of "+". The function should perform the arithmetic operation specified by operator on a and b and return the result.

In [73]:
def arithmatic_oprator(a,b,sum='+'):
    if sum == "+":
        return a + b
sum = arithmatic_oprator(100 , 20)
print (sum)

120

# 8. Create a function that accepts a positional argument numbers and a keyword argument sort with a default value of False. If sort is True, the function should return a sorted version of numbers; otherwise, it should return numbers as-is.

In [80]:
def numbers_sort(numbers,sort=False):
    if sort:
        sorting_number = sorted(numbers)
        return sorting_number
    else:
        return numbers
list_1 =[1,5,3,4,6,8,3]
sorting = numbers_sort(list_1)
print (sorting)
sorting = numbers_sort(list_1,sort=True)
print (sorting)

[1, 5, 3, 4, 6, 8, 3]
[1, 3, 3, 4, 5, 6, 8]

# 9.Define a function that has a positional argument first_name and multiple keyword arguments for contact information (email, phone, address). Print out the contact information in a formatted manner.

In [104]:
def contact_info(first_name,**contact_info):
    print (f'contact information for {first_name}:')
    print (f"Email: {contact_info.get('email','n/a')}")
    print (f"Phone: {contact_info.get('phone','n/a')}")
    print (f"Address: {contact_info.get('address','n/a')}")
contact_info('yogesh pareek',email='ykp@gmail.com',phone=1234567891,address='jaipur')

contact information for yogesh pareek:
Email: ykp@gmail.com
Phone: 1234567891
Address: jaipur

# 10. Write a function that takes a keyword argument items as a list and a positional argument separator with a default value of ", ". The function should join the elements of items into a single string using the separator and return the result.

In [153]:
# separator.join(iterable)
def string_sep(separator,item):
    result = separator.join(item)
    return result
list_1 = ['y','o','g','e','s','h']
string_sep = string_sep (',', list_1)
print (string_sep,type(string_sep))

y,o,g,e,s,h <class 'str'>